.nav-folder {
    border-radius: 6px;
    margin: 2px;
    
    border: solid;
    border-width: 1px;
    border-color: var(--background-primary-alt);
}

div {
    --color-1: #FDB2A2;
    --color-2: #FCC192;
    --color-3: #F1D67E;
    --color-4: #CDD597;
    --color-5: #A2DECE;
    --color-6: #ABCFE2;
    --color-7: #D3CAE6;
    --color-8: #F9B9CF;
}

div:nth-child(8n+1 of .nav-folder) {
    background-color: var(--color-1);
}

div:nth-child(8n+2 of .nav-folder) {
    background-color: var(--color-2);
}

div:nth-child(8n+3 of .nav-folder) {
    background-color: var(--color-3);
}

div:nth-child(8n+4 of .nav-folder) {
    background-color: var(--color-4);
}

div:nth-child(8n+5 of .nav-folder) {
    background-color: var(--color-5);
}

div:nth-child(8n+6 of .nav-folder) {
    background-color: var(--color-6);
}

div:nth-child(8n+7 of .nav-folder) {
    background-color: var(--color-7);
}

div:nth-child(8n+8 of .nav-folder) {
    background-color: var(--color-8);
}

.tree-item-children {
    --nav-indentation-guide-width: 0px;
}

.nav-file-title, .is-active {
    margin-inline-start: 0px;
    margin-inline-end: 8px;
}
