.nav-folder {
    border-radius: 6px;
    margin: 2px;
}

div {
    --color-1: #ffadad;
    --color-2: #ffd6a5;
    --color-3: #fdffb6;
    --color-4: #caffbf;
    --color-5: #9bf6ff;
    --color-6: #a0c4ff;
    --color-7: #bdb2ff;
    --color-8: #ffc6ff;
}

div:nth-child(8n+1 of .nav-folder) {
    background-color: var(--color-1);
}

div:nth-child(8n+2 of .nav-folder) {
    background-color: var(--color-2);
}

div:nth-child(8n+3 of .nav-folder) {
    background-color: var(--color-3);
}

div:nth-child(8n+4 of .nav-folder) {
    background-color: var(--color-4);
}

div:nth-child(8n+5 of .nav-folder) {
    background-color: var(--color-5);
}

div:nth-child(8n+6 of .nav-folder) {
    background-color: var(--color-6);
}

div:nth-child(8n+7 of .nav-folder) {
    background-color: var(--color-7);
}

div:nth-child(8n+8 of .nav-folder) {
    background-color: var(--color-8);
}

.tree-item-children {
    --nav-indentation-guide-width: 0px;
}

.nav-file-title, .is-active {
    margin-inline-start: 0px;
    margin-inline-end: 8px;
}
